.theme-force-light {
    --background-login: #fff;
    --text-color: rgba(100, 116, 139, 0.5);
    --background-main: #f8fafc;
    --background-main-content: #ffffff;
    --background-tip: white;
    --background-tip-darkhover: #0284C7;
    --background-prompt: hsla(0, 0%, 100%, 1);
    --background-new: #f8fafc;
    --nav-hover: #F0F4FA;
    --header-icon: white;
    --text-answer: #1e293b;
    --text-prompt: #334155;
    --search-input: #f8fafc;
    --background: 210 40% 98%;
    --foreground: 222 84% 5%;
    --muted: 210 40% 98%;
    --muted-foreground: 215 16% 47%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
    --white: white;
    --border: 214 32% 91%;
    --input: 209 52% 25%;
    --primary: 199 89% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 215 25% 27%;
    --accent: 210 40% 96%;
    --accent-foreground: 215 25% 27%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --black-button: 0 0% 7%;
    --ring: 209 52% 25% / 0.35;
    --radius: .5rem;
    --round-btn-shadow: rgba(12,26,46,0.08);
    --error-background: #fef2f2;
    --error-foreground: #991b1b;
    --success-background: #f0fdf4;
    --success-foreground: #14532d;
    --info-background: #ECFEFF;
    --info-foreground: #155E75;
    --high-indigo: #0284C7;
    --medium-indigo: #06B6D4;
    --chat-bot-icon: #E0F2FE;
    --chat-user-icon: #F0F9FF;
    --blur-shared: #0A0F1Ede;
    --build-trigger: #dc735b;
    --chat-trigger: #06B6D4;
    --chat-trigger-disabled: #94a3b8;
    --status-red: #ef4444;
    --status-yellow: #eab308;
    --status-green: #22c55e;
    --status-blue: #06B6D4;
    --connection: #64748b;
}

.react-grid-item>.react-resizable-handle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid hsl(var(--primary));
    background: #fff;
}

.react-grid-item>.react-resizable-handle.react-resizable-handle-sw {
    bottom: -3px;
    left: -3px;
}

.react-grid-item>.react-resizable-handle.react-resizable-handle-nw {
    top: -3px;
    left: -3px;
}

.react-grid-item>.react-resizable-handle.react-resizable-handle-se {
    bottom: -3px;
    right: -3px;
}

.react-grid-item>.react-resizable-handle.react-resizable-handle-ne {
    top: -3px;
    right: -3px;
}

.react-grid-item>.react-resizable-handle.react-resizable-handle-n {
    left: 10px;
    width: calc(100% - 20px);
    border-radius: 0;
    transform: rotate(0);
    margin: 0;
    top: -3px;
    opacity: 0;
}

.react-grid-item>.react-resizable-handle.react-resizable-handle-s {
    left: 10px;
    width: calc(100% - 20px);
    border-radius: 0;
    transform: rotate(0);
    margin: 0;
    bottom: -3px;
    opacity: 0;
}

.react-grid-item>.react-resizable-handle.react-resizable-handle-w {
    left: -3px;
    top: 10px;
    transform: rotate(0);
    height: calc(100% - 20px);
    border-radius: 0;
    margin: 0;
    opacity: 0;
}

.react-grid-item>.react-resizable-handle.react-resizable-handle-e {
    right: -3px;
    top: 10px;
    transform: rotate(0);
    height: calc(100% - 20px);
    border-radius: 0;
    margin: 0;
    opacity: 0;
}

.react-grid-item .component-select~.react-resizable-handle.react-resizable-handle-sw,
.react-grid-item .component-select~.react-resizable-handle.react-resizable-handle-nw,
.react-grid-item .component-select~.react-resizable-handle.react-resizable-handle-se,
.react-grid-item .component-select~.react-resizable-handle.react-resizable-handle-ne {
    opacity: 1;
}

.react-grid-item>.react-resizable-handle::after {
    content: normal;
}


.react-grid-item.react-grid-placeholder {
    background: #06B6D4;
    opacity: 0.05;
    border-radius: 6px;
    /* border: 1px dashed hsl(var(--primary)); */
}

.writing-mode-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}